<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>AICoven (Dev)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>aicoven</string>
				<string>ai.aicoven.mobile.dev</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.870439799161-1c7u8utd0t0kh3ote5kugh8cj9961ugb</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>192.168.0.122</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>identitytoolkit.googleapis.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
			</dict>
			<key>securetoken.googleapis.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
			</dict>
			<key>firebaseapp.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
			</dict>
		</dict>
	</dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Allows connecting to your development machine to load JavaScript during development.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library to upload images to share with AI agents.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need access to save images to your photo library.</string>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera to take photos to share with AI agents.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_react-native-packager._tcp</string>
		<string>_react-native-packager._udp</string>
	</array>
	<key>NSUserActivityTypes</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
	</array>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Automatic</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>

	<key>FIREBASE_API_KEY</key>
	<string>$(FIREBASE_API_KEY)</string>
	<key>FIREBASE_PROJECT_ID</key>
	<string>$(FIREBASE_PROJECT_ID)</string>
	<key>FIREBASE_APP_ID</key>
	<string>$(FIREBASE_APP_ID)</string>
	<key>FIREBASE_AUTH_DOMAIN</key>
	<string>$(FIREBASE_AUTH_DOMAIN)</string>
	<key>FIREBASE_STORAGE_BUCKET</key>
	<string>$(FIREBASE_STORAGE_BUCKET)</string>
	<key>FIREBASE_MESSAGING_SENDER_ID</key>
	<string>$(FIREBASE_MESSAGING_SENDER_ID)</string>
	<key>GOOGLE_PICKER_API_KEY</key>
	<string>$(GOOGLE_PICKER_API_KEY)</string>
	<key>GOOGLE_PICKER_APP_ID</key>
	<string>$(GOOGLE_PICKER_APP_ID)</string>
	<key>GITHUB_OAUTH_CLIENT_ID</key>
	<string>$(GITHUB_OAUTH_CLIENT_ID)</string>
	<key>GOOGLE_OAUTH_CLIENT_ID</key>
	<string>$(GOOGLE_OAUTH_CLIENT_ID)</string>
	<key>ServerRSAPublicKey</key>
	<string>$(SERVER_RSA_PUBLIC_KEY)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
